/* start our framework  */

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1200px;
    margin: auto;
    position: relative;
}

.table {
    height: 100%;
    display: table;
}

.table-row {
    display: table-row;
}

.clearfix {
    clear: both;
}

.text-center {
    text-align: center;
}

.upper {
    text-transform: uppercase;
}

.main-color {
    color: #f7600e;
}

.main-background {
    background-color: #f7600e;
}

.overlay {
    background-color: rgb(59, 67, 76, 0.9);
    width: 100%;
    height: 100%;
    color: #fff;
}

.hidden {
    display: none;
}


/* End our framework  */


/* Start heder */

.heder {
    background-image: url(../images/Layer\0png);
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.heder .overlay .intro-header-content h1 {
    margin: 0;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
}

.heder .overlay .intro-header-content p {
    margin: 40px 0 66px;
    line-height: 1.8;
    font-size: 20px;
    color: #afafaf;
}

.heder .buttons button {
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    padding: 0 0;
    margin: 0 8px;
    width: 210px;
    font-weight: normal;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 45px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}

.heder .buttons button:hover {
    background-color: #f7600e;
    border: 1px solid #f7600e;
}

.heder .nav-bar {
    padding: 20px 0;
    overflow: hidden;
    position: absolute;
    overflow: hidden;
}

.heder .nav-bar .links {
    float: right;
}

.heder .nav-bar .links i {
    margin-left: 10px;
}

.heder .arrow {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 100%;
    text-align: center;
}

.heder .arrow i {
    cursor: pointer;
}


/* End heder */


/* Start Our Expert teth section */

.Feature {
    overflow: hidden;
    padding: 100px 0;
}

.Feature .box {
    width: 22%;
    float: left;
    text-align: center;
    margin-right: 4%;
}

.Feature .box:last-child {
    margin-right: 0;
}

.Feature .box i {
    border: 1px #f7600f solid;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 120px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 1s all ease-in-out;
    -webkit-transition: 0.1s all ease-in-out;
    -moz-transition: 0.1s all ease-in-out;
    -ms-transition: 0.1s all ease-in-out;
    -o-transition: 0.1s all ease-in-out;
}

.Feature .box i:hover {
    background-color: #f7600f;
    color: #fff;
    border: 1px #f7600f solid;
}

.Feature .box h3 {
    text-transform: uppercase;
    font-weight: normal;
    color: #505050;
}

.Feature .box p {
    color: #666;
    line-height: 1.5;
    text-align: justify;
}


/* End Our Expert teth  section */


/* Start our subscribe section */

.subscribe {
    background-image: url(../images/Background.png);
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.subscribe form {
    padding: 100px 0;
    margin: auto;
    width: 1000px;
    text-align: center;
}

.subscribe form input[type='email'] {
    padding: 10px;
    width: 562px;
    font-size: 12px;
    border-radius: 10px;
    border: none;
    height: 44px;
}

.subscribe form button {
    padding: 14px;
    width: 269px;
    border: 1px s;
    color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-left: 20px;
    font-size: 14px;
    border: none;
}


/* End our subscribe section */


/* Start our Work  section  */

.our-work {
    padding-top: 40px;
}

.our-work h2 {
    font-size: 35px;
    font-weight: normal;
}

.our-work h3 {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #505050;
    padding-bottom: 40px;
}

.show-more {
    border: 1px solid #d8d8d8;
    margin: 20px;
    border-radius: 5px;
    font-weight: normal;
    width: 210px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 16px;
    background-color: transparent;
}

.our-work .work-box {
    overflow: hidden;
}

.our-work .work-box .item-box {
    float: left;
    width: 30%;
    margin-left: 1.3333%;
    margin-bottom: 12px;
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    height: 360px;
}

.our-work .work-box .item-box .over {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(247, 96, 14, 0.9);
    color: #fff;
    width: 100%;
    height: 100%;
    display: none;
    transition: 1s all ease-in-out;
    -webkit-transition: 0.1s all ease-in-out;
    -moz-transition: 0.1s all ease-in-out;
    -ms-transition: 0.1s all ease-in-out;
    -o-transition: 0.1s all ease-in-out;
}

.our-work .work-box .item-box:hover .over {
    display: block;
}

.our-work .work-box .item-box .over h2 {
    font-weight: normal;
    font-size: 30px;
    padding: 30px 0 0;
}

.our-work .work-box .item-box .over p {
    padding: 20px 30px;
    font-weight: normal;
}

.our-work .work-box .item-box .over button {
    color: #ffffff;
    padding: 15px;
    background-color: transparent;
    border: solid 1px #fff;
    border-radius: 10px;
    margin: 15px 0;
}

.our-work .work-box .item-box .over button:hover {
    color: #e75b0f;
    background-color: #fff;
    border: solid 1px #fff;
}


/* End our our section */


/* Start our Testimonial */

.testim {
    background-image: url('https://picsum.photos/88/500');
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.testim .client {
    padding: 50px 0;
    color: white;
    font-size: 20px;
}

.testim .client img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    line-height: 120px;
}

.testim .client p {
    line-height: 2;
    font-style: italic;
}

.testim .fa-arrow-circle-left,
.testim .fa-arrow-circle-right {
    position: absolute;
    top: 40%;
    cursor: pointer;
}

.testim .fa-arrow-circle-left {
    left: 0;
}

.testim .fa-arrow-circle-right {
    right: 0;
}


/* End our Testimonial */


/* Start Team-members */

.team-mem {
    padding: 30px 0;
}

.team-mem h2 {
    font-size: 35px;
    margin-bottom: 0;
}

.team-mem p {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.4;
    padding: 0 40px;
}

.team-mem .the-team {
    overflow: hidden;
}

.team-mem .the-team .person {
    float: left;
    width: 25%;
    padding: 45px 0;
    -webkit-filter: grayscale();
    -moz-filter: grayscale();
    -o-filter: grayscale();
}

.team-mem .the-team .person:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
}

.team-mem .the-team .person img {
    filter: grayscale();
    -webkit-filter: grayscale();
    -moz-filter: grayscale();
    -o-filter: grayscale();
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    border-radius: 10px;
}

.team-mem .the-team .person img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    filter: none;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.team-mem .the-team .person h3 {
    padding-top: 10px;
}

.team-mem .the-team .person .solil-icons i {
    font-size: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: solid 1px #e75b0f;
}

.team-mem .the-team .person .solil-icons i:first-child {
    color: #3b5998;
}

.team-mem .the-team .person .solil-icons i:nth-child(2) {
    color: #1da1f2;
}

.team-mem .the-team .person .solil-icons i:last-child {
    color: #007dbb;
}


/* End Team-members */


/* Start contact */

.contact {
    background-image: url('https://picsum.photos/500/800');
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    overflow: hidden;
    height: 550px;
}

.contact h2 {
    font-size: 35px;
    margin-bottom: 0;
    font-size: 35px;
    padding-top: 40px;
    margin: 0;
}

.contact p {
    padding-bottom: 30px;
}

.contact form {
    width: 800px;
    margin: auto;
    text-align: center;
    overflow: hidden;
}

.contact form input[type='text'],
.contact form input[type='email'] {
    width: 48%;
    padding: 0 10px;
    line-height: 40px;
    height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #ccc;
    background-color: transparent;
}

.contact form input[type='text'] {
    float: left;
}

.contact form input[type='text']::placeholder {
    color: #f7600e;
}

.contact form input[type='email'] {
    float: right;
}

.contact form input[type='email']::placeholder {
    color: #f7600e;
}

.contact form textarea {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px 10px;
    background-color: transparent;
    border: 1px solid #ccc;
}

.contact form textarea::placeholder {
    color: #f7600e;
}

.contact form button {
    padding: 10px 50px;
    margin: 20px 0px;
    float: left;
    border: 1px solid #f7600e;
    background-color: #f7600e;
    color: #fff;
    border-radius: 10px;
}

.contact form button:hover {
    border: 1px solid #ffff;
    background-color: #ffff;
    color: #f7600e;
}

.contact form .solai-icon {
    float: right;
    margin: 20px 0;
}

.contact form .solai-icon i {
    margin: 0 10px;
    line-height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: solid 1px #ccc;
    padding: 10px;
}

.contact form .solai-icon i:first-child:hover {
    color: #fff;
    border: solid 1px #3b5998;
    background-color: #3b5998;
}

.contact form .solai-icon i:nth-child(2):hover {
    color: #fff;
    border: solid 1px #1da1f2;
    background-color: #1da1f2;
}

.contact form .solai-icon i:last-child:hover {
    color: #fff;
    border: solid 1px #007dbb;
    background-color: #007dbb;
}


/* End contact */


/* start Footer */

.Footer {
    background-color: #3b434c;
    color: #fff;
    overflow: hidden;
    padding: 30px 0;
}

.Footer .copy-right {
    float: left;
}

.Footer .design {
    float: right;
}


/* End Footer */